@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

